.broadcasts__container {
  display: flex;
}

.broadcasts__header_out {
  display: none;
}

.broadcasts__header_in {
  margin-bottom: auto;
}

.broadcasts__archive {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  min-width: 255px;
}

.broadcasts__archive-decor {
  margin-bottom: 24px;
  width: 65px;
  height: 89px;
  background-image: url('../img/broadcasts-bg-w65.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.broadcasts__archive-btn {
  margin-bottom: 12px;
  padding: 8px 43px;
  color: var(--color-main);
  flex-grow: 0;
}

.broadcasts__archive-btn:focus {
  color: var(--color-secondary);
  border-color: transparent;
  outline-color: var(--color-accent);
}

.broadcasts__archive-btn:hover {
  color: var(--color-secondary);
  border-color: var(--color-accent_light);
}

.broadcasts__archive-btn:active {
  color: var(--color-secondary);
  border-color: var(--color-accent_dark);
}

.broadcasts__archive-descr {
  color: var(--color-grey_darken);
  line-height: 24px;
}

.broadcasts__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 14px;
  gap: var(--gap);
}

.broadcasts__card {
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
}

.broadcasts__card-header {
  margin-bottom: 1px;
  font-size: 20px;
  font-weight: 500;
}

.broadcasts__card-time {
  margin-bottom: 18px;
  font-size: 12px;
  color: var(--color-grey_darken);
}

.broadcasts__card-more-link {
  max-width: 115px;
  display: flex;
  align-items: center;
  font-style: italic;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.broadcasts__card-more-link svg {
  fill: var(--color-main);
  transition: fill .3s ease-in-out;
}

.broadcasts__card-more-link:focus {
  color: var(--color-secondary);
  background-color: var(--color-accent_light);
  outline: none;
}

.broadcasts__card-more-link:focus svg{
  fill: var(--color-secondary);
}

.broadcasts__card-more-link:hover {
  color: var(--color-accent);
}

.broadcasts__card-more-link:hover svg{
  fill: var(--color-accent);
}

.broadcasts__card-more-link:active {
  color: var(--color-accent_dark);
  background-color: transparent;
}

.broadcasts__card-more-link:active svg{
  fill: var(--color-accent_dark);
}

.broadcasts__card-content {
  display: flex;
  flex-direction: column;
  padding: 18px 15px;
  border: 1px solid var(--color-grey_lighten);
}

.broadcasts__picture img {
  display: block;
}
