html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}

body {
  min-width: 320px;
  font-family: 'Muller', sans-serif;
  background-color: var(--color-secondary);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}


