.footer {
  background-color: var(--color-grey_dark);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 87px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 2px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 1;
  align-content: flex-end;
  align-items: flex-start;
  row-gap: 18px;
  column-gap: 109px;
  height: 96px;
  font-size: 16px;
  color: var(--color-secondary);
}

.footer__decor {
  flex-shrink: 0;
  height: 11px;
  background-image: url('../img/footer-decor-w1920.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.footer__trademark {
  color: var(--color-grey_darken);
  line-height: 16.5px;
}
