.header__container {
  display: flex;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 31px;
}

.header__alt-top {
  display: none;
}

.header__alt-top-container {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 25px;
}

.header__site-link {
  padding-top: 3px;
}

.header__logo {
  margin-right: 70px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
  width: 100%;
  column-gap: 39px;
  row-gap: 39px;
}
