.header__container {
  display: flex;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 31px;
}

.header__site-link {
  padding-top: 3px;
}

.header__logo {
  margin-right: 70px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  gap: 39px;
}
